body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: math;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('/background4.png');
    /* Replace with your image path */
    background-size: cover;
    /* Cover the entire page */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fact-item {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #2c3e50;
}

.back-button {
    text-align: center;
    margin: 20px 0;
}

.back-button a {
    text-decoration: none;
    color: hwb(195 38% 30%);
    display: inline-block;
    padding: 10px 20px;
    transition: color 0.3s, text-decoration 0.3s;
    font-size: 20px;
    font-weight: bolder;
}

.back-button a:hover {
    color: #3498db;
    text-decoration: underline;
}
