* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

body {
  font-family: math;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  width: 100%; 
  padding: 0 10px;
  margin: 0 auto;
}

video {
  width: 100%; 
  height: auto; 
  max-height: 400px; 
  object-fit: cover; 
  margin-top: 5px; 
}

.filterAndVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 300px;
}

.filter {
  min-height: 300px;
  margin: 5px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter > button {
  margin: 10px 0;
}

header {
  width: 100%;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px solid #0505056c;
}

header > img {
  width: 110px;
  cursor: pointer;
  border-radius: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

nav > li {
  list-style-type: none;
  position: relative;
  font-size: 20px;
}

#cart-icon {
  position: relative;
}

#cart-icon > img {
  width: 40px;
}

.count {
  margin-top: 10px;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -25px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}

.yoga{
  color: green;
}

#temp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 140px;
}
#temp-value{
  margin-bottom: 20px;
  font-size: 14px;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 200px;
  animation: move 2s ease-in-out;
  filter: drop-shadow(0 0 5px #505050a0);
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55px);
  }
  100% {
    transform: translateX(0);
  }
}

#sing_in,
#sing_up {
  width: 35rem;
}

.submit {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: math;
}

.sign_up__form,
.sign_in__form {
  display: flex;
  flex-wrap: wrap;
}

#message_error {
  color: red;
  font-weight: 500;
}

@media (max-width: 768px) {
  #sing_in,
  #sing_up {
    width: 100%;
  }

  .submit {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }
  
  nav > li {
    font-size: 16px;
  }

  header > img {
    display: none;
  }
}
/* Style for footer */
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  position: relative;
  margin-top: 10px; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 1;
}

.footer-customer-service {
  flex: 1;
  text-align: left;
}

.footer-customer-service h4 {
  margin-bottom: 10px;
}

.footer-customer-service p {
  margin: 5px 0;
}

.footer-customer-service a {
  text-decoration: none;
  color: #333;
}

.footer-customer-service a:hover {
  text-decoration: underline;
}
.contact-info {
  padding: 30px;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 15px;
  height: 200px;
  
}

.contact-info h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.contact-info p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.h2{
  font-size: 25px;
  font-style: oblique;
}

