<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/credit.css" rel="stylesheet" />
 
    <title>Cart</title>
</head>
<body>
    <%- include('header') %>
    <main class="container">
        <h1>Products</h1>
        <section id="cart"></section>
        <h2 id="total">total: </h2>
        <% if(token){ %>
            <button value="<%= user.id %>" onclick="handleBay(this.value)" id="buy">buy</button>
        <% } %>
    </main>

    <!-- Popup Form -->
<div id="popup-form">
    <h3>Fill in your details</h3>
    <br>
    <form id="popup-form-content">
        <label for="card-number">Card Number:</label>
        <input type="text" id="card-number" name="card-number" required>
        <br> <br>
        <label for="expiry-date">Expiration Date (MM/YY):</label>
        <label for="expiry-date">Expiration Date:</label>
<input type="month" id="expiry-date" name="expiry-date" required>

        <br> <br>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required maxlength="4" pattern="\d{3,4}">
        <br> <br>
        <label for="card-number">City For delivery:</label>
        <input type="text" char="cityr" name="City For delivery" required>
        <br> <br>
        <label for="card-number">Full Adress:</label>
        <input type="text" char="adress" name="Full Adress:" required>
        <br><br>
        <button type="submit">Make Order</button>
        <button type="button" onclick="closePopup()">Cancel</button>
    </form>
</div>

<div id="overlay"></div>
<%- include('footer') %>
   <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/LocalStorage.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/credit.js"></script> 

</body>
</html>
