<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>Soulmat Yoga</title>
</head>
<body>
  <%- include('header') %> 
  <main class="container">
     <div class="filterAndVideo">
       <%- include('video') %>
     </div> 
  </main> 
  <div class="content">
    <div class="contact-info">
      <h2>More</h2>
      <ul style="font-size: 18px;">
        <li><a href="/map.html">Our Branches</a></li>
        <li><a href="/fq.html">FAQ</a></li>
        <li><a href="/know.html">Did You Know?</a></li>
        <li><a href="/train.html">Recommended Yoga Exercises</a></li>
      </ul>
    </div>
  
    <div class="newsletter">
      <h2>Subscribe to our Newsletter</h2>
      <form>
        <input type="email" placeholder="Enter your email" required>
        <button type="button" onclick="location.reload();">Subscribe</button>
      </form>
    </div>
    
  </div>
  
  <%- include('footer') %> 
  
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
  <script src="/js/LocalStorage.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
