<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>Welcome to Our Site</title>
</head>
<body>
  <%- include('header') %> 
  <main class="container">
     <div class="filterAndVideo">
       <%- include('video') %>
         <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
         <script src="/js/LocalStorage.js"></script>
         <script src="/js/index.js"></script>
</body>
</html>
