<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>Welcome to Our Site</title>
</head>
<body>
  <%- include('header') %> 
  <main class="container">
     <div class="filterAndVideo">
       <%- include('video') %>
     </div> 
  </main> 
  <div class="contact-info">
    <h2>Contact Us</h2>
    <p>If you have any questions or need support, please reach out to us through the following:</p>
    <ul>
      <li><a href="mailto:support@yourcompany.com">Email Us</a></li>
      <li><a href="tel:+1234567890">Call Us</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact">Contact Form</a></li>
    </ul>
  </div>
  <%- include('footer') %> 
  
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
  <script src="/js/LocalStorage.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
